.row
  .span2
    %h1 Haml rox
    %h2 and with Bootstrap Twitter
  .span2
    %p Paragraph
  %ul
    %li A list item
    %li A list item 2
  .span2
    =link_to 'Google', 'http://google.com', :class => 'btn btn-success'
    .well
      Fuck!
%table.table.table-striped
  %thead
    %tr
      %th First
      %th Second
  %tbody
    %tr
      %td Mario
      %td Luigi
    %tr
      %td Peach
      %td Toad
.alert.alert-error
  Fodeu
